*{
  font-family: serif;
}

body{
  background-image: url(../image/background.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

header{
  width:95%;
  height: 270px;
  margin: auto;
  background-image:url(../image/mibanner.jpg);
  background-size:100% 100%;
}

nav{
  width:56%;
  height:25px;
  background-color: black;
}

  #navmenu{
    list-style:none;
    margin: 0;
    padding: 4px;
  }

  #navmenu li{
    float:left;
  }

  #navmenu li a{
    display: block;   /*convertimos los vinculos en un bloque*/
    width: 140px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: #FFAA00;
  }

  #navmenu li a:hover{
    color:black;
    background-color:#FFAA00;
  }

section{
  width: 95%;
  height: 1100px;
  margin: auto;
  background-color: rgba(255, 0, 0, 0.2);
  position: relative;
}

span{
  color:#961100;
}

.social{
  position: fixed;
  left: 0;
  top: 45%;
  z-index: 2000;
}

  .social ul{
    list-style: none;
  }

  .social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transsition: all 500ms ease;
    transition: all 500ms ease;
  }

  .social ul li .icon-facebook {background: #3b5998;}
  .social ul li .icon-twitter {background: #00abf0;}
  .social ul li .icon-google {background: #d95232;}
  .social ul li .icon-pinterest3 {background: #ae181f;}
  .social ul li .icon-mail {background: #666666;}

  .social ul li a:hover{
    background: #000;
    padding: 10px 30px;
  }

.estilo_encabezado{
  background-color: #D1A00D;
  border: 2px solid #D1A00D;
  position: absolute;
}

.encabezado_novedades .estilo_encabezado{
  width: 85%;
  margin-top: 1%;
  margin-left: 7.5%;
}

.caja_contenido{
  border: 2px solid #D1A00D;
  background: rgba(0, 0, 20, 0.5);
  position: absolute;

}

.contenido_novedades .caja_contenido{
  width: 85%;
  margin-left: 7.5%;
  margin-top: 4%;
}

.foto_novedad{
  width: 18%;
  height: 280px;
  margin: 8px;
}

.foto_novedad:hover{
  opacity: 0.6;
}

.encabezado_recitales .estilo_encabezado{
  width: 35%;
  margin-top: 29%;
  margin-left: 57.5%;
}

.contenido_recitales .caja_contenido{
  width: 35%;
  margin-left: 57.5%;
  margin-top: 32%;
}

.foto_recital{
  width: 95%;
  height: 150px;
  margin: 5px;
  margin-left:2.5%;
}

.contenido_extras .caja_contenido{
  width: 48%;
  height: 500px;
  margin-left: 7.5%;
  margin-top: 29%;
}

.contenido_extras .caja_contenido ul{
  list-style-image: url(../image/vineta.png);
}

.contenido_extras  .caja_contenido ul li{
  font-size: 25px;
  color: white;
  margin-left: 112px;
}

#lista_remeras{
  font-size: 25px;
  color:#D1A00D;
  margin-left: 20%;

}

.contenido_somos .caja_contenido{
  width: 85%;
  margin-left: 7.5%;
  margin-top: 4%;
}

.quienes,.somos{
  font-size: 20px;
  text-align: justify;
  line-height: 1.8;
  padding: 20px;
  color: white;
}

.section_somos{
  height: 650px;
}

.section_catalogo{
  height: 3550px;
}

.encabezado_lista_prod .estilo_encabezado{
  width: 30%;
  margin-top: 1%;
  margin-left: 7.5%;
}

.contenido_lista_prod .caja_contenido{
  width: 30%;
  margin-top: 4%;
  margin-left: 7.5%;
}

.contenido_lista_prod .caja_contenido ul{
  list-style-image: url(../image/estrella.png);
}

.contenido_lista_prod  .caja_contenido ul li{
  font-size: 20px;
  margin-left:10;
}

.contenido_lista_prod .caja_contenido ul li a{
  text-decoration: none;
  color: white;
}

.encabezado_galeria .estilo_encabezado{
  width: 52.5%;
  margin-top: 1%;
  margin-left: 40%;
}

.contenido_galeria .caja_contenido{
  width: 52.5%;
  margin-top: 4%;
  margin-left: 40%;
}

.foto_galeria{
  width: 20%;
  height: 200px;
  margin: 2%;
}

hr{
  width: 70%;
  color: #D1A00D; --modz
  background-color: #D1A00D --chrome
}

.tabla_producto{
  border-collapse: collapse;
  border-spacing: 0;
}

.tabla_producto td{
  font-family: sans-serif;
  font-size: 14px;
  padding: 4px 7px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
}

.tabla_producto th{
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 4px 7px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
}

.tabla_producto .titulo_tabla{
  font-size: 20px;
  font-family: "Times New Roman",times,serif !important;;
  color:white;
  vertical-align: top;
}

.tabla_producto .celda{
  font-size: 16px;
  font-family: "Times New Roman" ,times,serif !important;;
  color:white;
  vertical-align: top;
}

.tabla_beriso .tabla_producto{
  width: 400px;
  margin: 4%;
  margin-left: 20%;
}

footer{
  width: 94%;
  height: 150px;
  margin-left: 2.4%;
  background-color: rgba(211, 174, 0, 0.2);
  position:absolute;
}

.contacto_desarrollador{
  width: 30%;
  margin-left: 1%;
  color: #929E9C;
  position: absolute;
}

.desarrollado{
  width: 250px;
  margin-left: 80%;
  position: ;
}

.desarrollado ul{
  list-style: none;
}

.desarrollado ul li{
  float: left;
  margin: 3px;
}

.desarrollado ul li a{
  display: inline-block;
  text-decoration: none;
  color: white;
  background: black;
  padding: 15px;
  font-size: 25px;
}

.desarrollado ul li a:hover{
  background: white;
  color: black;
}
