/* ------------- UNIVERSAL ---------------*/
/*-----FONTS-----*/

/*--'Poiret One', cursive;    */ /*en el name*/
/*--'Open Sans Condensed', sans-serif;*/ /*en 24/7*/
/*--'Raleway', sans-serif;    */ /*en menu*/
/*--'Open Sans', sans-serif;  */ /*contenido*/
/*--'Source Sans Pro', sans-serif;    */ /*en el footer*/


*{
    margin: 0px;
    padding: 0px;
}

/* ------------- BANNER ---------------*/
.banner{
    width: 100%;
    height: 130px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width:107px;
    /* margin: 2.7% 4%;  */
    background-color:white;

}

#name{
    font-family: 'Poiret One', cursive;
    font-size: 50px;
    color: black;
}

#name a{
    text-decoration: none;
    color: black;
}

#name2{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;

}

/* ------------------ MENU BAR --------------------*/

#navegacion{
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 2px solid gray;
    background-color:white;
}

#btn-menu{
    display: none;
}

#navegacion label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid black   ;
    background-color: black;
}

#navegacion label:hover{
    cursor: pointer;
    background-color: deeppink;
}

.menu{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu > li > a{
    display: block;
    color: black;
    font-family: 'Raleway', sans-serif;
    padding: 15px 20px;
    text-decoration: none;
}

.menu li:hover{
    background-color: rgba(0,0,0,0.1);
    transition: all 0.5s;
}

@media (max-width:826px) {

    #navegacion label{
        display: block;
    }

    .menu{
        position: absolute;
        background-color: crimson;
        width:50%;
        margin-left:-50%;
        flex-direction: column;
        transition: all 0.5s;
    }

    .menu li{
        border-top: 1px solid white;
    }

    #btn-menu:checked ~ .menu{
        margin: 0;
    }

}

/* ------------------ CONTENT ---------------------*/

/*---INDEX>HTML---*/
.content{
    width: auto;
    height: 850px;
    padding: 3px;
}

.image-index{
    width: 670px;
    height: 402px;
    float: left;
}

.description-index{
    width:670px;
    height: 402px;
    float: left;
}

.description-index p{
    margin: 100px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

.img-messenger{
    position:fixed;
    width: 60px;
    margin-top:400px;
    margin-left:93%;
}

/* --- STAFF.HTML --- */
.content-staff{
  /*background-color: darkred;*/
  width:auto;
  height:2650px;
  padding: 3px 75px;
}

.image-staff{
    /*background-color: yellow;*/
    width:600px;
    height:357px;
    float: left;
}

.description-staff{
    /*\background-color:blue;*/
    width:600px;
    height:357px;
    float: left;
}

.content-staff > .image-staff > .staff{
    width:600px;
    height:357px;
}

.content-staff > .image-staff > .perfil{
    width: 600px;
    height: 781px;
}

.description-staff h2{
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    text-align: center;
    /*background-color: darkkhaki;*/
    margin-top: 20%;
    width: auto;
}

.description-staff p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    /*background-color: aqua;*/
    padding: 6px 70px;
}

.description-staff-perfil{
    /*background-color:blue;*/
    width:600px;
    height:781px;
    float: left;
}

.description-staff-perfil h2{
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    text-align: center;
    /*background-color: darkkhaki;*/
    margin-top: 45%;
    width: auto;
}

.description-staff-perfil p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    /*background-color: aqua;*/
    padding: 6px 70px;
}

.description-staff-perfil ul{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-align: center;
    list-style: none;
}

/* --- EXTENSIONES.HTML ---*/
.content-extensiones{
    width:auto;
    height: 1500px;
    /* background-color:blue;  */
    padding: 3px;
}

.image-extensiones img{
    width: 670px;
    height: 402px;
    /*margin: 0px 13%;*/
}

.image-extensiones{
    width: 670px;
    height: 402px;
    background-color: chartreuse;
    float: left;
}

.description-extensiones{
    width: 670px;
    height: 402px;
    /* background-color: red; */
    float: left;
}

.description-extensiones p {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    padding: 8px 70px;
}
.description-extensiones .a{
    margin-top: 9%;
}

.description-extensiones h2{
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    text-align: center;
    /*background-color: darkkhaki;*/
    margin-top: 5%;
    margin-bottom: 10px;
    width: auto;
}

.description-extensiones ul{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    padding: 0px 70px;
    list-style-position: inside;
}

.description-extensiones ul li{
    padding-top: 15px;
}

table{
    background-color: darkgoldenrod;
    width: 50%;
    text-align: left;
    border-collapse: collapse;
}

thead{
    background-color: darkgrey;
    border-bottom: solid 5px rgb(56, 49, 49);
}

th,td{
    padding: 15px;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color: greenyellow;
    color: indigo;
}

/* ------------------ FOOT ------------------------*/


.foot{
    width:auto;
    height:170px;
    background-color: black;
    display: flex;
}

.nav-foot, .cards, .social-networks{
    width: 30%;
    margin: 10px;
    color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    flex-grow: 1;
}

.nav-foot ul{
    list-style-type: disc;
    padding: 6px 40px;
}

.nav-foot li a{
    text-decoration: none;
    color: white;
}

.img-cards{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.card, .social{
    width:40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 60%;
    margin: 10px;
}
