/*-----FONTS-----*/


/*
'Poiret One', cursive; ------------------- NAME
'Open Sans Condensed', sans-serif;  ------ 24/7
'Raleway', sans-serif;   ----------------- MENU
'Open Sans', sans-serif; ----------------- CONTENIDO
'Source Sans Pro', sans-serif;  ---------- FOOTER
*/


/* ------------ UNIVERSAL --------------*/

* {
    margin: 0px;
    padding: 0px;
}


/* TODO: BANNER ---------------*/

.jumbotron {
    height: 550px;
    font-family: 'Poiret One', cursive;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background: url(../image/jumbotron.png)top center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-shadow: black 0.3em 0.3em 0.3em;
}


/* .fixed {    --- invocaba el stylo desde JS para el menu fixed
    position: fixed;
} */

#name2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.container-fluid,
.row,
.col,
{
    padding: 0px;
}

header {
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 107px;
    margin: 20px;
    text-align: center;
}

#name {
    font-family: 'Poiret One', cursive;
    font-size: 50px;
}

#name2 {
    font-family: 'Open Sans Condensed', sans-serif;
}

#name a {
    text-decoration: none;
    color: black;
}

#name a:hover {
    color: crimson;
}

#name,
#name2 {
    margin: 0;
    padding: 0;
}


/* TODO:------------------ MENU BAR --------------------*/

nav {
    width: 100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: white;
}

#btn-menu {
    display: none;
}

nav label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: black;
}

nav label:hover {
    cursor: pointer;
    background-color: crimson;
}

.menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu li a {
    display: block;
    color: black;
    font-family: 'Raleway', sans-serif;
    padding: 15px 20px;
    text-decoration: none;
}

.menu li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
}

@media (max-width:826px) {
    nav label {
        display: block;
    }
    .menu {
        position: absolute;
        background-color: crimson;
        width: 50%;
        margin-left: -50%;
        flex-direction: column;
        transition: all 0.5s;
    }
    .menu li {
        border-top: 1px solid white;
    }
    #btn-menu:checked~.menu {
        margin: 0;
    }
}


/* TODO:------------------ CONTAINERS ---------------------*/

.container-image {
    width: 100%;
    height: 402px;
    float: left;
}

.container-data {
    width: 100%;
    height: 402px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-image img {
    width: 100%;
    height: 100%;
}

.container-data p,
.container-data ul {
    width: 75%;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

.container-data ul {
    list-style-position: inside;
}

.container-data ul li {
    padding-top: 10px;
}

.container-big-image {
    width: 50%;
    height: 781px;
    float: left;
}

.container-big-data {
    width: 50%;
    height: 781px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-big-image img {
    width: 100%;
    height: 100%;
}

.container-big-data h2,
.container-data h2 {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    margin: 10px;
}

.container-big-data p,
.container-big-data ul {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.container-big-data p {
    width: 70%;
}

.container-big-data ul {
    margin-top: 5px;
    text-decoration: none;
    list-style: none;
}


/* ------------------ CONTENT ---------------------*/


/*TODO:--------INDEX>HTML--------*/

.content-index {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

#testimonial {
    background: #f1f1f1;
    padding: 50px 10px 50px 10px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.container-data .participar {
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color: #ff0066;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
}

#box {
    width: 500px;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffd1cc;
    border-radius: 8px;
    box-shadow: 0 0 20px red;
    text-align: center;
    position: absolute;
    display: none;
}

#medalla {
    color: #ff0066;
}

#btn-close {
    color: #ff0066;
}

#btn-close:hover {
    cursor: pointer;
}

.img-messenger {
    position: fixed;
    width: 60px;
    margin-top: 400px;
    margin-left: 93%;
}


/* TODO:-------- STAFF.HTML -------- */

.content-staff {
    width: 100%;
}


/* TODO:-------- EXTENSIONES.HTML --------*/

.content-extensiones {
    width: 100%;
}

.table-extensiones {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-extensiones h2,
.jobs h2 {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    text-align: center;
    margin: 5%;
}

table {
    text-align: left;
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 50px;
}

thead {
    background-color: darkgrey;
    border-bottom: solid 5px rgb(56, 49, 49);
}

th,
td {
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover td {
    background-color: darkgrey;
    transition: all 1s;
}

.jobs {
    width: 100%;
    height: 550px;
    float: left;
}

.gallery {
    width: 70%;
    margin: 0px auto;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery li {
    margin: 25px;
}

.gallery img {
    width: 250px;
    height: 141px;
}

.modal {
    display: none;
    /* FIXME:*/
    /* visibility: hidden;
    opacity: 0; */
    /* background-color: red; */
    position: absolute;
}

.modal:target {
    display: block;
    /* FIXME:*/
    /* visibility: visible;
    opacity: 1;
    transition: all 1s; */
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}

.modal h2 {
    color: white;
    text-align: center;
    margin: 35px 0px;
}

.box-image {
    width: 100%;
    height: 67%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-image a {
    color: white;
    font-size: 70px;
    text-decoration: none;
    margin: 0px 50px;
}

.box-image a:nth-child(2) {
    margin: 0px;
    height: 100%;
    flex-shrink: 2;
    /*solo para la reduccion */
}

.box-image .img-extensiones {
    width: 800px;
    height: 100%;
    max-width: 100%;
    border: 7px solid white;
    box-sizing: border-box;
}

.close {
    display: block;
    background-color: white;
    width: 25px;
    height: 25px;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: black;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}


/* TODO:-------- MAKEUP.HTML --------*/

.content-makeup {
    width: 100%;
}

.gallery-makeup {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-makeup img {
    width: 180px;
    height: 240px;
}

.box-image .img-makeup {
    width: 400px;
    height: 100%;
    max-width: 100%;
    border: 7px solid white;
    box-sizing: border-box;
}


/* TODO:-------- CURSOS.HTML --------*/

.content-cursos {
    width: 100%;
}

hr {
    width: 80%;
    height: 1px;
    background-color: black;
    margin: 0px auto 10px auto;
    border-width: 0;
    margin: 20px 0;
}


/* TODO:-------- CONTACTO.HTML --------*/

.content-contacto {
    width: 100%;
}

.formulario {
    width: 50%;
    float: left;
}

.ubicacion {
    width: 50%;
    height: 200%;
    float: left;
}

form {
    width: 500px;
    margin: 50px auto;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7px;
}

.formulario h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    font-size: 30px;
    margin-bottom: 20px;
}

.formulario input,
select,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    border: solid 2px black;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    background-color: white;
}

#btn-enviar {
    padding: 15px;
}

#btn-enviar:hover {
    cursor: pointer;
}

.contacto {
    text-align: center;
    font-size: 20px;
    padding: 50px;
    margin: 20% auto;
}

.contacto>h3,
.contacto>p {
    margin-bottom: 10px;
}

.contacto h3 {
    font-family: 'Raleway', sans-serif;
}

.contacto p {
    font-family: 'Open Sans', sans-serif;
}

ion-icon {
    font-size: 40px;
    margin: 8px;
}


/* TODO:------------------ FOOT ------------------------*/

footer {
    background-color: black;
    color: gray;
}

.box-end {
    width: 100%;
    margin: 15px;
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.box-end .line {
    width: 80%;
    height: 1px;
    background-color: grey;
    margin: 0px auto 10px auto;
    border-width: 0;
}