body{
  background: url(../image/fondo.jpg);
  background-size: 100%;
}
.ruleta{
  margin-left: 30%;
  padding: 10px;
  border: 2px solid green;
  width: 40%;
  height: 500px;
  background: rgba(0,0,1,0.2);
}
.premio{
  position: relative;
  float: right;
  height: 35px;
  width: 130px;
  background-color: green;
  font-size: 20px;
  color: white;
  border: 1px solid;
  border-color: black;
}
.lista{
  position: static;
  float: right;
}
