body{
  background: url(../image/fondo.jpg);
  background-size: 100%;
}

.ruleta{
  margin-left: 30%;
  margin-top: 10%;
  padding: 10px;
  border: 2px solid green;
  width: 40%;
  height: 270px;
  background: rgba(0,0,1,0.2);
}

