body{
  background: url(../image/background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  padding-top: 60px;
}

.navbar-brand{
  font-family:Brown Fox;
}

.subtitulo{
  color: black;
  background-color: #A67300;
  font-family: 'Dosis', sans-serif;
  padding: 5px;
}

p{
    color:white;
}

.maldito{
  font-weight: 800;
}

.jumbotron{
  background-image: url("../image/demo.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: yellow 0.3em 0.3em 0.3em;

}

.tales{
  width: 50%;
}

.recuadro-texto{
  /*border: 2px solid #A67300;*/
  background-color: rgba(166, 125, 0, 0.5);
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  line-height: 1.5;
  padding: 20px;
}

p.primera-linea{
  text-indent: 35px;
}

.form-novedades{
  width: 200px;
}

figcaption{
  text-align: center;
}

.footer{
  background-color: #A67300;
  height: 150px;
  margin-bottom: 20px;
  margin-top:20px;
}

.footer .contacto{
  background-color: red;
  margin-top: 12px;
  margin-left: 20px;
  float: left;
}

.footer .cc{
  line-height: 0.5;
  background-color: yellow;
  float: right;
  margin-top: 35px;
  margin-right: 15px;
}

.footer .cc .img-cc{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}
