body{
  background: url(../image/background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  padding-top: 60px;
}

.navbar-brand{
  font-family:Brown Fox;
}

.subtitulo{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

p{
    color:white;
}

.maldito{
  font-weight: 800;
}

.jumbotron{
  background-image: url("../image/demo.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: yellow 0.3em 0.3em 0.3em;
}

.tales{
  width: 50%;
}

.recuadro-texto{
  /*border: 2px solid #A67300;*/
  background-color: rgba(166, 125, 0, 0.5);
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  line-height: 1.5;
  padding: 20px;
}

p.primera-linea{
  text-indent: 35px;
}

.form-novedades{
  width: 200px;
}

/*--------------------------------------article de noticia*/
.noticia{
  background-color: white;
  overflow: auto;
  padding: 10px;
  margin: 10px 0;
}
.noticia .fotonoticia{
  width: 30%;
  float: left;
}
.noticia .contexto-noticia{
  width: 70%;
  float: right;
  padding: 0 15px;
  text-align: justify;
}
.noticia .titulo-noticia{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}
.noticia .subtitulo-noticia{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
  color: black;
}
/*-----------------------------------fin article de noticia*/

figcaption{
  text-align: center;
}

.publicidad{
  padding: 5px;
}

.contexto-publicidad,.img-publicidad{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contexto-publicidad{
  width: 180px;
  text-align: justify;
}
/*------------------------------footer*/
.footer{
  background-color: #A67300;
  overflow: auto;
  margin: 10px 0;
  padding: 20px;
}
.footer .contacto-footer{
  width: 150px;
  float: left;
}
.footer .cc-footer{
  line-height: 0.5;
  float: right;
}
.footer .cc-footer .img-cc{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}
/*------------------------------footer*/
